@font-face{font-family:Lato;src:url(../../../merchant/font/Lato/Lato-Regular.woff)}#application-base .team-picture-container{padding-top:1rem !important;padding-bottom:2rem !important}
#application-base .main_content_container{padding-bottom:0}#application-base .aboutus-items-image{padding:1rem;border-radius:12px;box-shadow:0 5px 12px rgba(0,0,0,.2)}
@media only screen and (max-width:767px){#application-base .aboutus-items-image img{padding:3px}
}