
html{
    font-size:14px;
    min-height:100%;/* make sure it is at least as tall as the viewport */
    position:relative;
   

}
body{
    height:100%;
}

.logo-item{
    width:10%;
    text-align:center;
}

.logo-item img{
    width:100% !important;
}

body{
    /*xbackground-color: #0a0a2d;*/
    /*background-image: url("/static/base/images/landingbanner.jpg");*/
    background-image: url('../../images/base/Background_blue.svg');
    background-repeat:repeat;
    background-size:cover;
    position:absolute;
    left:0;
    top:0;
    right:0;
    z-index:0;
}
#easepay-container{
    display:flex;
    height:100%;
}
/*.easepayform-div{
    margin-top:5%;
}*/

#easepay-container .easepay-main-div{
    margin:auto;
    /*height:100%;*/
}

.easepayform-div .label{
    padding-top:1% !important;
    padding-bottom:1% !important;
    color:#999999;
}

.easepayform-div .ui.input{
    width:100%;
}

.easepayform-div .ui.segment{
    border:0px !important;
    box-shadow: none !important;
}

.ui.segment{
    padding: 0.5em !important;
}

.easepayform-div i.icon{
    margin-right:0px !important;
}

.easepayform-div .capitalize{
    text-transform: capitalize;
}

.easepay-inner-div{
    padding-top:5%;
    padding-bottom:5%;
    background:white;

    -webkit-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75) !important;
-moz-box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75) !important;
box-shadow: 0px 0px 28px -5px rgba(0,0,0,0.75) !important;


}

.amount-pay{
    font-weight:bold;
    font-size:1.6rem !important;
}

.amount-pay i{
    font-size:1.5rem !important;
}

.easepayform-div .green-button{
    background-color:#2bbf39;
    color:white;
}

.easepayform-div .green-button:hover{
    background-color:#1e8527;
    color:white;
}

.easepayform-div .blue-button{
    background-color:#392bbf !important;
    color:white;
}

.easepayform-div .valign{
    display:inline-block;
    vertical-align:middle;
}

.ui.menu .item:before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    height: 100%;
    width: 0px;
    background: rgba(34,36,38,.1);
}

.ui.menu{
    border-radius:0px !important;
    z-index:2;
    position:relative;
}

input.ng-invalid.ng-dirty{
    background-color: rgba(249, 199, 199, 0.39) !important;
    border: 1px solid rgb(255, 0, 0) !important;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.my-loader{
    position:relative;
    /*height: 100%;*/

}



.my-loader .loader_div{
    display:block;
}

.my-loader .ui.dimmer{
    background-color: rgba(255,255,255,.7);
}

.my-loader .ui.dimmer .ui.loader:after{
    border-color: #000 transparent transparent;
}

.my-loader .ui.large.text.loader{
    color:#000;
}
.approve-button, .edit-button{
    padding: .78571429em !important;
}
form{
     font-family:Lato;
}



@media screen and (max-width:990px){
    .logo-item{
        width:100% !important;
        border-radius:0px !important;
    }
    .logo-item img{
        width:40% !important;
        margin-left: auto !important;
        margin-right: auto !important;
    }
    .ui.segment{
        padding: 0.7em !important;
    }

    .edit-button{
        float:right;
    }

    .merchant_name{
        font-size:1.3rem;
        word-wrap: break-word;
    }

    .edit-div{
        /*padding-top:0px !important;*/
    }


}