#logo {
    display: table-cell;
    vertical-align: middle;
    height: 65px;
}
.utility-bar {
    background-color: #2f5571;
    font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
    font-size: 14px;
    height: 65px;
    position: relative;
    -webkit-box-shadow: 0 4px 0 rgba(50, 50, 50, 0.4);
    box-shadow: 0 4px 0 rgba(50, 50, 50, 0.4);
    z-index:30;
}
.utility-bar .main-menu {
    position: relative;
    text-align: right;
}
.utility-bar .main-menu > .dropdown {
    cursor: pointer;
    position: relative;
}
.utility-bar .main-menu > .dropdown:hover > .submenu,
.utility-bar .main-menu > .dropdown.selected > .submenu {
    display: block;
}
.utility-bar .main-menu > .dropdown > .submenu {
    display: none;
    z-index: 20;
}
.utility-bar .main-menu > .dropdown > .submenu.cols-1 {
    left: 0;
    width: 283px;
}
.utility-bar .main-menu > .dropdown > .submenu.cols-2 {
    left: 0;
    width: 502px;
}
.utility-bar .main-menu > .dropdown > .submenu.cols-3 {
    left: 0;
    width: 721px;
}
.utility-bar .main-menu > .dropdown > .submenu.cols-4 {
    left: 0;
    width: 940px;
}
.utility-bar .main-menu > .dropdown > .submenu > div {
    margin-left: 64px;
    margin-right: 0px;
    padding-left: 0px;
    padding-right: 0px;
    width: 155px;
}
.utility-bar .main-menu > .dropdown > .submenu .dropdown:hover > .submenu,
.utility-bar .main-menu > .dropdown > .submenu .dropdown.selected > .submenu {
    display: block;
}
.utility-bar .main-menu > .dropdown > .submenu .dropdown > .submenu {
    display: none;
    left: 99%;
    top: 0;
    width: 190px;
    z-index: 30;
}
.utility-bar .main-menu .header-placeholder {
    display: block;
    height: 3em;
}
.utility-bar .main-menu .header-placeholder h3 {
    font-size: 14px;
    line-height: 1.5em;
    text-transform: uppercase;
}
.utility-bar .main-menu li {
    display: inline-block;
    color: white;
    height: auto;
    line-height: 65px;
    padding: 0 5px;
    text-align: left;
    text-transform: uppercase;
    vertical-align: top;
}
.utility-bar .main-menu li:hover,
.utility-bar .main-menu li.selected {
    color: #fdad37;
}
.utility-bar .main-menu li:hover > a,
.utility-bar .main-menu li.selected > a {
    color: #fdad37;
}
.utility-bar .main-menu li.border-bottom {
    border-bottom: solid 1px white;
}
.utility-bar .main-menu li a {
    color: white;
    text-transform: uppercase;
    text-align: left;
}
.utility-bar .main-menu li .submenu {
    background-color: #2f5571;
    padding: 30px 0 27px 0;
    position: absolute;
    -webkit-box-shadow: inset 0 4px 4px rgba(50, 50, 50, 0.4);
    box-shadow: inset 0 4px 4px rgba(50, 50, 50, 0.4);
}
.utility-bar .main-menu li .submenu li {
    display: block;
    line-height: 1.5em;
    padding: 0.5em 0;
    text-transform: none;
}
.utility-bar .main-menu li .submenu li a {
    text-transform: none;
}
.utility-bar .main-menu li .submenu li .submenu {
    padding: 20px;
    -webkit-box-shadow: 0 0 1px 1px rgba(50, 50, 50, 0.4);
    box-shadow: 0 0 1px 1px rgba(50, 50, 50, 0.4);
}
.utility-bar .main-menu li [class*="caret-"]:before,
.utility-bar .main-menu li [class*="caret-"]:after {
    top: 0.7em;
}
.utility-bar .sign-in:hover span,
.utility-bar .sign-in.selected span {
    border-color: #fdad37;
    color: #fdad37;
}
.utility-bar .sign-in:hover .submenu,
.utility-bar .sign-in.selected .submenu {
    display: block;
}
.utility-bar .sign-in span {
    width: auto;
    padding: 0 5px;
}
.utility-bar .sign-in span a {
    color: white;
}
.utility-bar .sign-in .submenu {
    background-color: #2f5571;
    display: none;
    color: white;
    padding: 20px 40px;
    position: absolute;
    right: 0;
    width: 200px;
    -webkit-box-shadow: inset 0 4px 4px rgba(50, 50, 50, 0.4);
    box-shadow: inset 0 4px 4px rgba(50, 50, 50, 0.4);
}
.utility-bar .sign-in .submenu li {
    border-top: solid 1px white;
    padding: 5px 0;
}
.utility-bar .sign-in .submenu li:first-child {
    border: none;
}
.utility-bar .sign-in .submenu li.caret-white:after {
    top: 4px;
}
.utility-bar .sign-in .submenu a {
    color: white;
    display: inline-block;
}
.utility-bar .sign-in .submenu a:hover {
    color: #fdad37;
}
.auth-carousel {
    position: relative;
    height: 620px;
}
.auth-carousel .item {
    height: 620px;
    top: 0;
    width: 100%;
}
.accept-payments {
    background-color: #4f90bd;
    color: white;
}
.accept-payments .wrap {
    padding: 140px 0;
}
.accept-payments h1 {
    font-family: "ScalaSansWeb-Light", Arial, sans-serif;
    font-size: 50px;
    margin: 80px auto 30px;
}
.photo-marquee {
    background-color: #C7D6D7;
    background-image: url("../../developer/clientlibs/clientlibs-html/imgs/carousel/bg-photo.html");
    background-position: center top;
    background-repeat: no-repeat;
    color: #2f5571;
}
.photo-marquee .verified-logo {
    margin-top: 120px;
}
.photo-marquee h2 {
    font-size: 50px;
}
.text-bar {
    background: #2f5571;
    font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
    font-size: 18px;
    color: white;
    padding: 18px 0;
    position: relative;
    line-height: 30px;
    -webkit-box-shadow: 0 0 4px 4px rgba(50, 50, 50, 0.4);
    box-shadow: 0 0 4px 4px rgba(50, 50, 50, 0.4);
}
.text-bar a {
    margin-left: 30px;
    text-transform: uppercase;
    white-space: nowrap;
}
.text-bar a:hover {
    color: #ff9933;
}
.three-col-bar {
    background-color: white;
    color: #2f5571;
    padding: 190px 0;
    text-align: center;
}
.three-col-bar h2 {
    font-family: "ScalaSansWeb-Light", Arial, sans-serif;
    font-size: 35px;
}
.three-col-bar p {
    margin: 0 auto;
    width: 80%;
}
.three-col-bar a {
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
}
.big-promo {
    background-color: #2f5571;
    color: white;
    padding-top: 50px;
}
.big-promo > div {
    padding-top: 30px;
}
.big-promo > div p {
    margin: 20px 0;
    width: 80%;
}
.big-promo .media {
    text-align: right;
}
.big-promo .media img {
    margin: 30px auto 0;
}
.support-bar {
    background-color: white;
    padding: 165px 0;
}
.support-bar .support-left h2 {
    font-size: 60px;
    font-family: "ScalaSansWeb-Light", Arial, sans-serif;
    margin-top: -15px;
}
.support-bar .support-left p {
    width: 80%;
    color: #2f5571;
}
.support-bar .support-left a {
    margin-top: 40px;
}
.support-bar .support-items {
    border-left: solid 3px #fdad37;
    display: table;
}
.support-bar .support-items li {
    font-size: 30px;
    font-family: "ScalaSansWeb-Light", Arial, sans-serif;
    display: table-row;
}
.support-bar .support-items li.last img {
    padding-bottom: 0px;
}
.support-bar .support-items li.last span {
    padding-bottom: 0px;
}
.support-bar .support-items li img {
    margin-right: 10px;
    display: table-cell;
    padding: 7px 6px 47px 47px;
}
.support-bar .support-items li span {
    display: table-cell;
    vertical-align: middle;
    padding-top: 7px;
    padding-bottom: 47px;
    line-height: 28px;
}
.logo-carousel {
    background-color: #4f90bd;
    padding: 70px 0;
}
.logo-carousel .large-text {
    font-size: 32px;
    margin-top: 25px;
    font-family: "ScalaSansWeb-Light", Arial, sans-serif;
}
.logo-carousel .header-logos {
    height: 0.5em;
    margin-bottom: 5px;
}
.logo-carousel .header-logos .hr {
    border-top: solid 2px #fdad37;
    height: 0.5em;
}
.logo-carousel .header-logos h3 {
    font-size: 16px;
    margin: -0.5em 0 0;
    text-transform: uppercase;
    font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
}
.logo-carousel .carousel {
    margin: 31px 0 45px 0;
}
.logo-carousel .carousel .controls {
    bottom: -60px;
}
.logo-carousel .carousel .item {
    height: 100px;
}
.button-bar {
    background-color: #2f5571;
    padding: 10px 0 30px 0;
    -webkit-box-shadow: inset 0 0 20px 0px rgba(50, 50, 50, 0.4);
    box-shadow: inset 0 0 20px 0px rgba(50, 50, 50, 0.4);
}
.button-bar ul {
    margin-bottom: 0;
    padding: 0 5px;
}
.button-bar ul li {
    padding: 0 10px;
}
.button-bar a {
    border-color: #4f90bd;
    color: white;
    padding: 15.5px 5px;
}
footer {
    background-color: #1c3141;
    margin: 0 10px;
    padding-top: 52px;
    padding-bottom: 165px;
}
footer h3 {
    color: white;
    margin-bottom: 2px;
    font-weight: normal;
    font-size: 23px;
}
footer .header-underline {
    background-color: #5fabe4;
    width: 60px;
    height: 3px;
}
footer .header-underline.long {
    width: 70px;
}
footer ul {
    margin-top: 32px;
}
footer ul li {
    color: white;
    margin-top: 9px;
}
footer ul li a {
    color: white;
}
footer ul li input {
    color: white;
    background-color: #1c3141;
    width: 100%;
    border: solid 3px #4f90bd;
    padding: 7px 12px;
}
footer ul li.country-selector {
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: -10px;
    margin-top: 10px;
    padding: 10px;
    position: relative;
}
footer ul li.country-selector:hover,
footer ul li.country-selector.selected {
    background-color: #2f5571;
}
footer ul li.country-selector:hover .selection-list,
footer ul li.country-selector.selected .selection-list {
    display: block;
}
footer ul li.country-selector img {
    margin-right: 10px;
}
footer ul li.country-selector .selection-list {
    background-color: #2f5571;
    bottom: 100%;
    border-bottom: solid 1px #1c3141;
    display: none;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    left: 0px;
}
footer ul li.country-selector .selection-list li {
    margin: 10px 0;
    line-height: 21px;
}
footer ul li.country-selector .selection-list li:hover a,
footer ul li.country-selector .selection-list li.current a {
    color: #fdad37;
}
/* ES */
/* Common */



h1 {
    font-size: 60px;
}
h2 {
    font-size: 40px;
}
h3 {
    font-size: 30px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
h5 {
    font-family: "ScalaSansWeb-Light", Arial, sans-serif;
    margin-top: 0;
}
p {
    margin: 0 0 20px 0;
}
/*a.ext_link {
  background: url("../../../../resources/images/ext_link.png") no-repeat center right;
  padding-right: 18px;
}*/

.clear-both {
    clear: both;
}
.hr-orange {
    border-top: 2px solid #fdad37;
    height: 0.5em;
}
.hr-grey {
    border-top: 2px solid #d7d7d7;
    height: 0.5em;
}
.hr-white {
    border-top: 2px solid white;
    height: 0.5em;
}
.hr-orange,
.hr-grey,
.hr-white {
    margin-bottom: 35px;
    margin-top: 10px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-60 {
    margin-bottom: 60px;
}
.margin-left-30 {
    margin-left: 30px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-top-80 {
    margin-top: 80px;
}
.margin-top-95 {
    margin-top: 95px;
}
.padding-bottom-0 {
    padding-bottom: 0px !important;
}
.padding-top-0 {
    padding-top: 0px !important;
}
ol.roman li {
    list-style-type: upper-roman;
}
.text-bold {
    font-weight: bold;
}
.width-66 {
    width: 66%;
}
/* Big Promo */

.big-promo ul {
    margin: 0;
    padding: 20px 0 0 25px;
}
.big-promo ul li {
    list-style-type: disc;
    padding-bottom: 20px;
}
/* Blog */

.blogs {
    padding-bottom: 40px;
    padding-top: 60px;
}
.blog-article {
    padding-bottom: 60px;
}
.blog-article h2 {
    margin-bottom: 0;
    padding-bottom: 20px;
}
.blog-article .hr-grey {
    margin-top: 60px;
}
.blog-date {
    padding-bottom: 20px;
}
.blog-rss a {
    background: url("clientlibs-css/images/rss.html") no-repeat;
    display: inline-block;
    line-height: 16px;
    padding-left: 20px;
}
.blog-topics {
    padding-bottom: 30px;
    padding-top: 30px;
}
/* Case Studies */

.case-study {
    padding-bottom: 60px;
}
/* Certified Developer Directory */

#fixedContainer {
    float: left;
    height: 36px;
    width: 100%;
}
#fixedDisclaimer {
    width: 100%;
    position: relative;
}
#fixedDisclaimer.fixed {
    bottom: 0;
    position: fixed;
    z-index: 9999;
}
.disclaimer_open {
    width: 960px;
    margin: 0 auto;
}
.disclaimer_open img {
    left: 480px;
    position: relative;
}
.disclaimer {
    background: none repeat scroll 0 0 #528AB2;
    clear: both;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    width: 960px;
}
.disclaimer a {
    color: #FFFFFF;
    text-decoration: underline;
}
.disclaimer p {
    line-height: 16px;
}
.disclaimer table td {
    vertical-align: top;
}
/* Certified Solution Directory */

.csdir-listings {
    clear: both;
    float: left;
}
.csdir-listing,
.csdir-listingalt {
    border-bottom: 1px solid #c0c0c0;
    padding: 50px 0 50px 85px;
}
.csdir-listing p,
.csdir-listingalt p {
    margin: 0;
    padding: 5px 0 0 0;
}
.csdir-pci {
    background-image: url("clientlibs-css/images/pci_logo.html");
    background-repeat: no-repeat;
    background-position: 20px 50px;
}
.csdir-steps {
    float: left;
    padding: 10px 0;
}
.csdir-steps ul li {
    line-height: 20px;
    margin-bottom: 14px;
    padding: 0 0 0 27px;
}
.csdir-spacer {
    width: 60px;
}
.csdir-spacer-remaining {
    width: 327px;
}
.csdir-tab-content {
    float: left;
}
.csdir-tabs {
    float: left;
    margin: 50px 0px 50px 0px;
    width: 100%;
}
.csdir-tabs ul li {
    border-bottom: 4px solid #d7d7d7;
    cursor: pointer;
    float: left;
    height: 34px;
    line-height: 34px;
    text-align: center;
}
.csdir-tabs ul li:hover:not(.csdir-spacer),
.csdir-tabs ul li.active:not(.csdir-spacer) {
    border-bottom: 4px solid #FDAD37;
    cursor: default;
    position: relative;
}
.csdir-tabs ul li a {
    color: #ababab;
    font-weight: bold;
}
.csdir-tabs ul li:hover:not(.csdir-spacer) a,
.csdir-tabs ul li.active:not(.csdir-spacer) a {
    color: #2f5571;
}
.csdir-tabs ul li a:hover {
    text-decoration: none;
}
.csdir-tabs li img.arrow_down {
    display: none;
}
.csdir-tabs ul li.active img.arrow_down {
    display: block;
    left: 50%;
    margin-left: -6px;
    margin-top: 1px;
    position: absolute;
    top: 100%;
}
#csdir .dd {
    border: 3px solid #d7d7d7;
    float: left;
    margin: 0 12px 0 0;
}
#csdir button {
    background-color: #4f90bd;
    border: 1px solid #d7d7d7;
    color: white;
    cursor: pointer;
    display: inline-block;
    float: left;
    font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
    font-size: 16px;
    line-height: 31px;
    margin: 0;
    padding: 10px 5px 6px;
    text-align: center;
    width: 50px;
}
#csdir label {
    color: #ababab;
    display: inline-block;
    float: left;
    padding: 18px 12px 0 0;
}
#csdir .ddlabel {
    color: #ababab;
}
#csdir #msdrpdd20_msdd,
#csdir #msdrpdd21_msdd {
    margin: 0 12px 0 0;
}
.external-certified-solution {
    font-size: 18px;
}
/* EU Cookie Notice */

#euCookieNotice {
    background-color: #DDEEFF;
    margin: 10px auto;
    position: relative;
    width: 960px;
}
#euCookieNotice p {
    line-height: normal;
    margin: 0;
    padding: 10px 35px 10px 10px;
}
#euCookieClose {
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    right: 10px;
    text-decoration: none;
    top: 10px;
}
/* FAQ */

.faqheader {
    padding-bottom: 20px;
}
.faqheader,
.faqitem,
.faqitemcenter {
    clear: both;
    float: left;
}
.faqheader a {
    color: #2f5571;
    font-size: 24px;
    line-height: 1.8em;
}
/* Footer */

footer ul li {
    line-height: 21px;
}
.footer-copyright {
    color: white;
}
ul.footer-links {
    list-style-type: none;
    margin: 0;
    padding: 60px 0 20px 0;
}
ul.footer-links li {
    display: inline;
}
ul.footer-links li a:after {
    color: white;
    content: "\00a0\00a0|\00a0\00a0";
}
ul.footer-links li:last-child a:after {
    content: " ";
}
/* Glossary */

.glbacktotop {
    border-bottom: 1px solid #ababab;
    clear: both;
    float: left;
    margin-bottom: 20px;
    padding: 20px 10px 5px 0;
    text-align: right;
    width: 100%;
}
.gljumplinks {
    padding-top: 60px;
    padding-bottom: 35px;
    text-align: center;
}
.glheader {
    clear: both;
    margin: 0;
    padding: 30px 0 0 0;
    text-align: center;
}
.glheader a {
    color: #2f5571;
    font-size: 40px;
    font-weight: normal;
}
.glitem {
    padding: 40px 0 20px 0;
}
.glitem span {
    font-size: 18px;
    font-weight: bold;
}
/* Header */

.sign-in span a {
    font-size: 14px;
}
.utility-bar .main-menu li {
    padding: 0 18px;
}
/* Home */

.accept-payments h1 {
    font-size: 50px;
    margin: 80px auto 30px;
}
.controls .carousel-indicators li.active {
    background-color: #e8e8e8;
}
.mobile-payments h2 {
    font-size: 50px;
    margin-bottom: 20px;
    margin-top: 130px;
}
.mobile-payments p {
    margin-bottom: 40px;
}
.ragnar-case-study {
    color: #2f5571;
    background-position: center top !important;
}
.ragnar-case-study .verified-logo {
    margin-top: 120px;
}
.ragnar-case-study h2 {
    font-size: 50px;
    margin-top: 120px;
}
.support-right {
    border-left: solid 3px #fdad37;
    padding: 95px 0 95px 50px;
}
.three-col-bar {
    padding: 150px 0;
}
.accept-payments p,
.mobile-payments p,
.ragnar-case-study p {
    font-size: 18px;
}
.big-promo h2,
.support-bar h2 {
    font-size: 50px;
}
/* How It Works */

h2.hiw-title {
    font-size: 40px;
    padding-bottom: 15px;
    text-align: center;
}
.diagram,
.navigation {
    float: left;
    width:100%;
}
.diagram img{width:100%;}
.diagram {
    width:100%;
}
.diagram ul {
    list-style-type: none;
}
.diagram ul li {
    display: none;
}
.page-content .diagram ul {
    margin: 0;
    padding: 0;
}
.page-content .diagram ul li {
    line-height: normal;
    list-style-type: none;
}
#prev,
#next {
  text-decoration: none;
  color: #666666;
  cursor: pointer;
  outline: none;
  height: 40px;
  width: 40px;
}
#prev.disabled,
#next.disabled {
    color: #cccccc;
    cursor: default;
}
#prev {
    border-radius: 5px 0 0 5px;
    float:left;
    margin-left: 15px;
}
#next {
    text-align: right;
    border-radius: 0 5px 5px 0;
    float: right;
    margin-right: 15px;
}

.navigation h2 {
    background-color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 5px 5px 10px;
    border: 1px solid #666666;
    outline: none;
    color:#000;
}
.navigation h2 a {
    font-size: 14px;
    color: #842430;
    text-decoration: none;
}
.navigation h2.ui-state-active {
    background: #842430;
    border-top: 0;
}
.navigation h2.ui-state-active a{color:#fff;}
.acrdOrange.navigation h2.ui-state-active {
    background: #fdad37;
    border-top: 0;
}
.acrdGreen.navigation h2.ui-state-active {
    background: #b4a82f;
    border-top: 0;
}
.acrdOrange.navigation {
    text-align: center;
}
#accordion {
    clear: both;
    text-align: center;
    -webkit-text-align: center;
    -moz-text-align: center;
    -o-text-align: center;
}
#accordion h2 {
    width: 74px;
    height: 74px;
    margin-right: 10px;
    border-radius: 50%;
    line-height: 30%;
    text-align: center;
    padding:10px 5px;
    font-weight: 700;
    display: inline-block;
}
#accordion h2:last-of-type{margin-right:0;}
#accordion div {
    background: white;
    color: #333333;
    padding: 10px 10px;
    margin: 0;
}
/* Merchant Feature */

.merchant-feature {
    padding: 95px 0 0 0;
}
.merchant-feature h2 {
    margin-top: 0;
}
.merchant-feature ul {
    padding: 5px 0 0 17px;
}
.merchant-feature .hr-grey {
    margin-top: 10px;
}
/* Merchant Toolbox */

.comodo {
    margin-top: 60px;
    padding: 30px;
}
.comodo .pull-left,
.comodo .pull-right {
    width: 50%;
}
.comodo h3 {
    padding-bottom: 30px;
}
.comodo-footer {
    clear: both;
    padding: 30px 30px 0 45px;
}
.comodo,
.comodo-footer {
    float: left;
    width: 100%;
}
.comodo:nth-child(even) {
    background-color: #f9f9f9;
}
.comodo-table table > tbody > tr > td {
    border-bottom: 1px solid #dddddd;
    padding: 30px;
}
.comodo-table table > tbody > tr > td:first-child {
    border-left: 1px solid #dddddd;
}
.comodo-table table > tbody > tr > td:last-child {
    border-right: 1px solid #dddddd;
}
.merchant-toolbox h3 {
    font-size: 21px;
}
.merchant-toolbox .table > tbody >tr td:nth-child(1) {
    vertical-align: middle;
}
.merchant-toolbox .table > tbody >tr td:nth-child(2) {
    padding: 60px 60px 35px 60px;
}
/* International */

.table.international > tbody > tr > td {
    vertical-align: middle;
}
.table.international > tbody > tr > th {
    font-size: 20px;
}
.table.international > tbody > tr > th img {
    margin-bottom: 20px;
}
.table.international p {
    margin: 0;
    padding: 0 0 20px 0;
}
.table.international > tbody > tr:first-child th {
    border-top: none;
}
.table.international > tbody > tr > td:nth-child(2),
.table.international > tbody > tr > td:nth-child(3) {
    padding-bottom: 10px;
    padding-top: 30px;
}
.table.international > tbody > tr > th,
.table.international > tbody > tr > td:nth-child(2),
.table.international > tbody > tr > td:nth-child(3) {
    text-align: center;
}
/* Page */

/*.page-content {
    padding-bottom: 100px;
    padding-top: 60px;
}*/
.page-content h2 {
    padding-bottom: 20px;
}
.page-header {
    border-bottom: none;
    margin: 0;
    padding: 50px 0;
}
.page-header p {
    width: 400px;
}
.page-header p a {
    color: #fdad37;
}
/* PDF List */

.pdflist {
    float: left;
    margin-top: 20px;
}
.pdflist h3 {
    color: #448cb5;
    margin: 0;
    padding: 0;
}
.pdflist img {
    float: left;
    margin: 0;
    padding-right: 17px;
}
.pdflist p {
    margin: 0 0 20px 0;
    padding: 0;
}
.pdflist-clear {
    clear: both;
    margin-top: 30px;
}
/* Pricing */

.table.pricing {
    font-size: 18px;
}
.table.pricing td,
.table.pricing th {
    border-top: none;
}
.table.pricing > tbody > tr > td:nth-child(2) {
    text-align: right;
}
ul.pricing-nofees {
    list-style-type: none;
    margin: 0;
    padding: 20px 0 1px 30px;
}
.pricing-footnote {
    font-size: 14px;
}
/* Processor Connections */

.processor-connections span.headerFlag {
    background-image: url("clientlibs-css/images/flagsprite.html");
    display: inline-block;
    float: left;
    height: 13px;
    margin: 0;
    width: 24px;
}
.processor-connections span.headerFlag {
    background-position: 0 0;
    margin: 3px 0 0 10px;
}
.processor-connections span.headerFlag.uscanada {
    width: 52px;
}
/* Products */

.blue-circle-326 {
    background: transparent url("clientlibs-css/images/circle-326px.html") 0 0 no-repeat;
    height: 326px;
    margin: 0 auto;
    position: relative;
    width: 326px;
}
.blue-circle-326 div {
    bottom: 0;
    height: 55%;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 55%;
}
.product-case-study {
    background-color: #2f5571;
    background-image: url("clientlibs-css/images/bg-blue-dark.html");
}
.product-case-study h2 {
    padding-bottom: 30px;
}
.product-case-study h2,
.product-features h2 {
    font-size: 57px;
    margin-top: 0;
}
.product-features h3 {
    margin-bottom: 20px;
}
.product-features .hr-orange {
    margin-bottom: 30px;
    margin-top: 10px;
}
.product-features .hr-grey {
    margin-bottom: 50px;
    margin-top: 50px;
}
.product-header h1 {
    margin-bottom: 20px;
}
.product-header p {
    margin: 0 0 15px 0;
}
.product-questions {
    background: none repeat scroll 0 0 #2f5571;
    box-shadow: 0 0 4px 4px rgba(50, 50, 50, 0.4);
    color: white;
    font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding: 18px 0;
    position: relative;
}
.product-questions a {
    color: #fdad37;
}
.product-testimonial {
    font-family: "ScalaSansWeb-Ita", Arial, sans-serif;
    font-size: 30px;
    line-height: 1.5em;
}
.product-testimonial p {
    font-size: 16px;
    padding-top: 35px;
}
.product-testimonial span.left-quote {
    padding-right: 10px;
}
.product-testimonial span.right-quote {
    padding-left: 10px;
}
.product-testimonial span.left-quote,
.product-testimonial span.right-quote {
    font-family: "ScalaSansWeb-BoldIta", Arial, sans-serif;
    font-size: 40px;
}
.product-videos .video h3 {
    padding-top: 30px;
}
/* Reseller Directory */

.reseller-directory {
    padding-bottom: 50px;
    padding-top: 50px;
}
.reseller-directory h3 {
    font-size: 21px;
}
#reseller-directory.table p {
    margin: 0 0 10px 0;
}
#reseller-directory.table > tbody > tr:first-child > td {
    border: none;
}
#reseller-directory.table > tbody > tr > td {
    padding: 60px 60px 40px 60px;
}
.reseller-directory-signupnow {
    margin: 0;
}
.reseller-directory-signupnow ul {
    border-left: 2px solid white;
    list-style-type: none;
    margin: 0;
    padding: 30px 0 0 30px;
}
.reseller-directory-signupnow ul li {
    margin: 0;
    padding: 0 0 30px 0;
}
.reseller-directory-signupnow ul li span.caret-right:after {
    background-position: 4px 4px;
}
#state-reseller-directory.table > tbody > tr > td {
    padding: 30px;
}
/* Sitemap */

#sitemap ul {
    padding-top: 0;
}
#sitemap ul li {
    padding: 20px 0 0 0;
}
/* Tooltips */

span.question {
    background: url("../../../../content/dam/authorize/images/question_mark.html") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    line-height: 13px;
}
.tooltip.in {
    opacity: 1;
}
.tooltip-inner {
    background-color: #e2f0fa;
    font-size: 16px;
    color: #2f5571;
    max-width: 500px;
}
.tooltip-inner p {
    margin: 0;
    padding: 5px 0;
}
.tooltip.top .tooltip-arrow {
    border-top-color: #e2f0fa;
    left: 275px !important;
}
/* Videos */

.video-row-spacing {
    margin-top: 80px;
}
/* Shared */

.blog-article .hr-grey,
.merchant-feature .hr-grey {
    height: 0;
    margin-bottom: 0;
}
.merchant-feature ol li,
.page-content ol li,
.product-features ol li {
    list-style: decimal;
    line-height: 1.4em;
}
.page-content ul,
.product-case-study ul,
.product-features ul,
.reseller-directory ul {
    list-style-position: outside;
    margin: 0;
    padding: 5px 0 0 40px;
}
.merchant-feature ul li,
.product-case-study ul li,
.product-features ul li,
.page-content ul li,
.reseller-directory ul li {
    list-style-type: disc;
    line-height: 20px;
}
ul.pricing-nofees li {
    list-style-type: none;
}
.merchant-feature ul li,
.page-content ol li,
.page-content ul li,
.product-case-study ul li,
.reseller-directory ul li {
    padding-bottom: 30px;
}
.page-header,
.product-case-study,
.product-header,
.product-signupnow,
.product-testimonial,
.reseller-directory-signupnow {
    color: white;
}
.page-header a,
.product-case-study a,
.product-header a,
.product-signupnow a,
.product-testimonial a,
.reseller-directory-signupnow a {
    color: white;
}
.reseller-directory-signupnow a {
    text-decoration: none;
    text-transform: uppercase;
}
.reseller-directory-signupnow ul li {
    font-size: 25px;
}
.merchant-feature,
.product-case-study-white,
.product-features,
.product-videos {
    background-color: white;
    background-image: url("clientlibs-css/images/bg-white.html");
}
.page-header,
.product-header,
.product-signupnow,
.product-testimonial,
.reseller-directory-signupnow {
    background-color: #4f90bd;
    background-image: url("clientlibs-css/images/bg-blue-light.html");
}
.product-case-study-white,
.product-header,
.product-image-feature,
.product-signupnow,
.product-testimonial,
.product-videos,
.reseller-directory-signupnow {
    padding: 95px 0;
}
.glheader a,
.product-questions span {
    font-family: "ScalaSansWeb-Light", Arial, sans-serif;
}
ul.support-list li {
    line-height: 40px;
}
table.scr_devices {
    width: 100%;
}
table.scr_devices tr th {
    font-weight: normal;
}
table.scr_devices tr td,
table.scr_devices tr th {
    border-bottom: 1px solid #ffffff;
    padding: 10px 0;
}
.rights {
    border-left: 3px solid #fdad37;
    height: 425px;
}
.rtimg {
    padding-top: 85px;
    margin-left: -57px;
}
.button-blue {
    background-color: #4f90bd;
    font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
    font-size: 16px;
    line-height: 38px;
    margin: 10px 0;
    max-width: 300px;
    padding: 10px 5px 6px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 66%;
    border-style: solid;
    border-width: 3px;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
    display: inline-block;
    color: white;
}
.button-blue:hover {
    background-color: #3f79a1;
}
.bld[class*="button-"] {
    color: white !important;
}
.support {
    background-image: url("clientlibs-css/images/bg-white.html");
    padding: 165px 0 165px 0px;
    margin: 0 auto;
    width: 960px;
}
.support h2 {
    font-size: 60px;
}
.support p {
    width: 340px;
}
.support a {
    margin-top: 40px;
}
.spt {
    width: 1060px;
}
.rtimg img {
    margin-top: 30px;
}
.rtimgs {
    margin: -4px 0 0 -15px;
}
.rightline {
    border-left-width: 2px;
    height: 145px;
    left: 155px;
    margin-left: -70px;
}
.lefttxt p {
    width: 418px;
}
.cleardiv {
    clear: both;
}
.product-case-study {
    padding: 0 0 90px 0;
}
.padding-top90 {
    padding-top: 90px;
}
.right-line {
    border-left: 2px solid #fdad37;
}
.icon-image {
    width: 82px;
    height: 81px;
}
.prd-features {
    padding-bottom: 95px;
}
.sslbg {
    background-color: #f9f9f9;
}
.text-center p {
    margin: 0 auto 30px auto;
    width: 630px;
}
.btm-line {
    border-bottom: 1px solid #dddddd;
}
.case-study img {
    height: 82;
    width: 140;
}
.texture-white {
    background-image: url("clientlibs-css/images/bg-white.html");
}
.submenu{
z-index:30;
    }
/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    #quote-carousel {
        margin-bottom: 0;
        padding: 0 40px 30px 40px;
    }
}
/* Small devices (tablets, up to 768px) */

@media (max-width: 768px)
{
  #accordion h2 {
    width: 60px;
    height: 60px;
  }
}
/* Make the indicators larger for easier clicking with fingers/thumb on mobile */
/*
    Colorbox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxWrapper {max-width:none;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/*
    User Style:
    Change the following styles to modify the appearance of Colorbox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(clientlibs-css/images/overlay.html) repeat 0 0; opacity: 0.9; filter: alpha(opacity = 90);}
#colorbox{outline:0;}
    #cboxTopLeft{width:21px; height:21px; background:url(clientlibs-css/css/colorbox/controls.html) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(clientlibs-css/css/colorbox/controls.html) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(clientlibs-css/css/colorbox/controls.html) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(clientlibs-css/css/colorbox/controls.html) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(clientlibs-css/css/colorbox/controls.html) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(clientlibs-css/css/colorbox/controls.html) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(clientlibs-css/css/colorbox/border.html) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(clientlibs-css/css/colorbox/border.html) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxLoadingOverlay{background:url("clientlibs-css/css/colorbox/loading_background.html") no-repeat center center;}
        #cboxLoadingGraphic{background:url("clientlibs-css/images/loading.html") no-repeat center center;}

        /* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
        #cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }

        /* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
        #cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(clientlibs-css/css/colorbox/controls.html) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(clientlibs-css/css/colorbox/controls.html) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(clientlibs-css/css/colorbox/controls.html) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}
/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50001;
	width: 100%;
	height: 500px;
}
#jquery-lightbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 500002;
	text-align: center;
	line-height: 0;
}
#jquery-lightbox a img { border: none; }
#lightbox-container-image-box {
	position: relative;
	background-color: #fff;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}
#lightbox-container-image { padding: 10px; }
#lightbox-loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#lightbox-nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
}
#lightbox-container-image-box > #lightbox-nav { left: 0; }
#lightbox-nav a { outline: none;}
#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
	width: 49%;
	height: 100%;
	zoom: 1;
	display: block;
}
#lightbox-nav-btnPrev {
	left: 0;
	float: left;
}
#lightbox-nav-btnNext {
	right: 0;
	float: right;
}
#lightbox-container-image-data-box {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #fff;
	margin: 0 auto;
	line-height: 1.4em;
	overflow: auto;
	width: 100%;
	padding: 0 10px 0;
}
#lightbox-container-image-data {
	padding: 0 10px;
	color: #666;
}
#lightbox-container-image-data #lightbox-image-details {
	width: 70%;
	float: left;
	text-align: left;
}
#lightbox-image-details-caption { font-weight: bold; }
#lightbox-image-details-currentNumber {
	display: block;
	clear: left;
	padding-bottom: 1.0em;
}
#lightbox-secNav-btnClose {
	width: 66px;
	float: right;
	padding-bottom: 0.7em;
}
.ctmbtn
{
  display: inline-block;
  -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
  }
.width400 {
    width:400px;
    line-height: 1.4em;
}
.rteComponent ul li {
    list-style:outside none disc !important;
    padding:5px 0 30px 0;
}
.rteComponent ol li {
    list-style-type: decimal;
    padding:5px 0 30px 0;
}
.txtbtm{
display: inline;
}
.firstpasr p{
    margin-left:auto;
    margin-right:auto;
    width:700px;
}
.firstpasr img{
    width:700;
    height:425;
}
.secondpar a{
   margin-top: 50px;
}
.thirdpar p{
    margin-top:15px;
}
.fourthpar p{
    margin-bottom: 0;
    margin-top: 80px;
}
.orangebutton{
    background-color: #fdad37;
    border-color: white;
    color: white;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    font-size: 16px;
    font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
    line-height: 38px;
    margin: 10px 0;
    padding: 10px 5px 6px 5px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 66%;
    max-width: 300px;
    -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
}
.orangebutton:hover {
    background-color: #ea9a24;
}
.whitelnk{
    padding-right: 20px;
    position: relative;
}
.whitelnk::after {
    background-color: transparent;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    background-image: url("clientlibs-css/images/caret-white.html");
}
.bluelnk{
    padding-right: 20px;
    position: relative;
}

.subheading {
padding-bottom: 20px;
font-size: 40px;
margin-bottom: 10px;
font-weight: 500;
line-height: 1.1;
color: #2f5571;
font-family:"ScalaSansWeb-Light",Arial,sans-serif
  }

.bluelnk::after{
    background-color: transparent;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    background-image: url("clientlibs-css/images/caret-blue.html");
}
.lightblue{
    background-color: #4f90bd;
    border-color: white;
    color: white;
    border-style: solid;
    border-width: 3px;
    display: inline-block;
    font-size: 16px;
    font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
    line-height: 38px;
    margin: 10px 0;
    padding: 10px 5px 6px 5px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 66%;
    max-width: 300px;
    -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);

}
.lightblue:hover {
    background-color: #3f79a1;
}
.fontsize{
    font-size: 20px;
    padding-top: 20px;
}
.headermargin{
    margin-left: 200px;
}
.contentmargin{
    margin-left: 200px;
    float:left;
}
.pullright{
    margin-right: 5px;
    margin-top: 0px;
    padding-left: 14px;
    margin-left: 0px;
    float: right;
}
.product-testimonial h1 {
  font-family: "ScalaSansWeb-Ita",Arial,sans-serif;
  font-size: 30px;
  line-height: 1.5em;
}
.faq-content {
       padding-top:40px;
}
.merchantfeature {
       padding-left: 35px;
}
.sptlght{
       left:-165px;
       float:right;
}
.txtlght{
    font-family:"ScalaSansWeb-Light",Arial,sans-serif;
}
.sitemap {
                float: left;
                margin: 0;
                padding: 0 0 10px 0;
                width: 100%;
}
.sitemap ul, .sitemap ul li ul, .sitemap ul li ul li ul {
                margin: 0;

                padding: 0 0 0 30px;
}
.sitemap ul li, .sitemap ul li ul li, .sitemap ul li ul li ul li {
                line-height: 20px;
                padding :0.1em 0.1em 0.1em 1em;
                      list-style-type: disc;
}
.ornglnk a{
       color: #fdad37;
       font-weight:bold;
}
.ornglnk{
       color: #fdad37;
       font-weight:bold;
}
.ornglinkbold a{
       color: #fdad37;
}
.ornglinkbold {
       font-weight:bold;
    position: relative;
    padding:0 20px 0 0;

}
.ornglinkbold::after{
       background-color: transparent;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    background-image: url("clientlibs-css/images/caret-orange.html");
        }
.ornglink{
color: #fdad37;
    position: relative;
    padding:0 20px 0 0;
    font-family: "ScalaSansWeb-Light",Arial,sans-serif;
    font-weight: bold;
}
.ornglink::after{
       background-color: transparent;
    background-position: 2px 1px;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 1em;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
    background-image: url("clientlibs-css/images/caret-orange.html");
        }
.orngelink{
       color: #fdad37;
}
.scr_devices tr td {
    border-bottom: 1px solid #fff;
    padding: 10px 0;
}
.scr_devices tr th {
       font-weight: normal;
}
.btm_topics a:after {
    content: ",";
}
.btm_topics a:last-child:after {
    content: "";
}
.accrdn span
{
  font-size: 13px;
}
.accrdn p {
  font-size: 13px;
       margin: 0 auto;
        line-height:1em;
}
.spot-bar {
  background: #2f5571;
  font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
  font-size: 18px;
  color: white;
  padding-top: 18px;
  position: relative;
  line-height: 30px;
  -webkit-box-shadow: 0 0 4px 4px rgba(50, 50, 50, 0.4);
  box-shadow: 0 0 4px 4px rgba(50, 50, 50, 0.4);
}
.spot-bar a:hover {
      color: #ff9933;
}
/*
.x-form-text{
width:70% !important;
border:1px solid blue;
}
.x-form-field{
width:70% !important;
border:1px solid blue;
}
*/
.x-form-text{
	height:22px !important;
}

.x-trigger-noedit{
       width:90% !important;
}

/*
.x-form-focus{
width:70% !important;
      border:1px solid blue !important;
}
.x-form-field-wrap{
width:70% !important;
border:1px solid blue;
}
*/
.x-form-field-trigger-wrap{
width:90% !important;
}

.x-trigger-wrap-focus{
width:90% !important;
}

.rtc_table table{
border:1px solid #dddddd;
}
.rtc_table table td{
padding:30px;
}
.faqitem table{
max-width:900px;
width:900px;
margin-bottom:20px;
}

.faqitem table tr:nth-child(odd){
background-color: #f9f9f9;
padding: 8px;
line-height: 1.42857;
vertical-align: top;
border-top: 1px solid #dddddd;
}

.faqitem table tr th, .faqitem table thead tr td,
.faqitem table tbody tr th, .faqitem table tbody tr td,
.faqitem table tfoot tr th, .faqitem table tfoot tr td{
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.faqitemcenter table{
max-width:640px;
width:640px;
margin-bottom:20px;
}

.faqitemcenter table tr:nth-child(odd){
background-color: #f9f9f9;
padding: 8px;
line-height: 1.42857;
vertical-align: top;
border-top: 1px solid #dddddd;
}

.faqitemcenter table tr th, .faqitemcenter table thead tr td,
.faqitemcenter table tbody tr th, .faqitemcenter table tbody tr td,
.faqitemcenter table tfoot tr th, .faqitemcenter table tfoot tr td{
  padding: 8px;
  line-height: 1.42857;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.font{
  padding-left: 51px;
  padding-right: 51px;
  font-size: 14px;
  }

.processor-connections p{
	margin-bottom: 0;
}
.processor-connections td{
     padding-bottom: 0;
}
.rtc_table ul li{

    list-style-type:disc;

}
.pricing-features h3{
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  width: 250px;
  margin-bottom: 20px;
}
.pricing-features{
        background-color: white;
  background-image: url("clientlibs-css/images/bg-white.html");
    }
.pricing-features h2{
	font-size: 57px;
  	margin-top: 0;
}
.rtepage-content{
	padding-bottom:0;
}
.rtepage-content ul{
	padding-left: 30px !important;
}
.commodo-content ul{
     list-style-position: outside;
  margin: 0;
  padding: 5px 0 0 30px;
}
.commodo-content ul li{
    padding-bottom: 30px;
  list-style-type: disc;
  line-height: 20px;
}
.scountry p{
  margin-bottom:17px !important;
}
.evnt p{
  font-size:16px;
    }
.redcolor{
color: #ff0000;
}
.orngtxt a{
color: #fdad37;
}
.headbcknd{
background-image: url("../../../../content/dam/authorize/images/bg-blue-light.html");
}
.headerallg{
margin-right: 40px;
}
.rtc_table{
  padding-right: 42px;
}
.grayline {
  background: none repeat-x scroll 0 0 #d7d7d7;
  float: left;
  height: 2px;
  margin-bottom: 30px;
  width: 68%;
  margin-top: 23px;
  margin-left: 240px;
}

.bulletspc ul li{
list-style-type: disc;
    line-height: 20px;
}
.pciborder{
  background: none repeat-x scroll 0 0 #d7d7d7;
  float: left;
  height: 1px;
  margin-bottom: 10px;
  width: 100%;
  margin-top: 10px;
}

.bulltlft{
  padding-left:35px !important;
    }
.disclaimer p{
padding: 4px 10px 0 20px;
    }

 .spacer {
            width: 95px;
        }
      .tab li:last-child {
            width: 190px;
            padding-right: 50px;
        }

        .adrev {
            margin-top: 40px;
            margin-bottom: 60px;
        }
        .imgcomision {
            text-align: center;
            padding-top: 25px;
            padding-bottom: 25px;
        }
        .margbtm {
            text-align: right;
        }
        .btnlnk {
            margin-top: 50px;
            margin-bottom: 50px;
        }
        .paraspc {
            margin-bottom: 50px;
            margin-top: 40px;
        }
        .txttop h1 {
            margin-bottom: 0 !important;
        }
        .linkmore {
            margin-top: 30px;
        }
        .orangeline {
            background-color: rgb(253, 173, 55);
            height: 2px;
            width: 85%;
            margin-top: 0;
        }
        .disclaimer_left p{
			width: 320px;
		}
.sitetop{
        padding-top:60px;
    }
    .caret-video:before {
  background-image: url("clientlibs-css/images/caret-white.html");
}
.orangelinkbtn {
  background-color: #fdad37;
  border-color: white;
  color: white;
  border-style: solid;
  border-width: 3px;
  display: inline-block;
  font-size: 16px;
  font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
  line-height: 38px;
  margin: 10px 0;
  padding: 10px 5px 6px 5px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 66%;
  max-width: 300px;
  -webkit-box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
  box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
}
.orangelinkbtn a{
color:#fff;
text-decoration:none;
}

.faqheader a{
outline:0;
}
.caret-left:before {
	  content: "";
	  background-position: center center;
	  background-repeat: no-repeat;
	  background-color: transparent;
	  display: block;
	  height: 1em;
	  position: absolute;
	  left: 0px;
	  top: 0px;
	  width: 15px;
}
.videobtn{
  color: white;
  background-color: #4f90bd;
  display: inline-block;
  font-size: 16px;
  font-family: "ScalaSansWeb-Bold", Arial, sans-serif;
  line-height: 38px;
  margin: 10px 0;
  padding: 10px 5px 6px 5px;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  width: 66%;
  max-width: 300px;
  padding-left: 20px;
  position: relative;
}

.videobtn:before{
background-image: url("clientlibs-css/images/caret-white.html");
  content: "";
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  display: block;
  height: 1em;
  position: absolute;
  left: 85px;
  top: 20px;
  width: 15px;
}
.vdobtn{
    border: 3px solid #fff;
    padding: 22px 0px 20px 0px;
    box-shadow: 2px 2px 2px rgba(50, 50, 50, 0.4);
}

.videobtn:hover{
background-color: #3f79a1;
}
.leftpadding{
padding-left:80px;
    }

.formcontent {
    padding-bottom: 100px;
    padding-top: 60px;
}
.included-features{
        padding-top: 95px;
    }
  span.caret-left:active,span.caret-left:visited{
    text-decoration: underline;

}
a:active,a:focus{
  text-decoration: underline;
}
.slide1top{
	padding-top:85px !important;
}
.mailchimpcontent{
	padding-bottom:0px !important;
}

.imageleft{
        margin-left: -50px !important;
    }
.pricingbtn{
            margin-top:10px !important;
    }
 #included-features div.wrap:nth-child(even) div.row div.col-md-4 {
      margin-bottom: 85px;
    }
    .txtorng a{
color: #fdad37 !important;
    }
.txtorng a:hover{
    color: #ff9933 !important;
        }
        .bluebackground{
background-color:#2f5571;
    }
    .whitebackground{
            background-image: url("clientlibs-css/images/bg-white.html");
        }
        .bg-position{
	background-position:center;
}
.gold_button{
    color: white;
	font-size: 12px;
  padding: 5px 15px 5px 15px;
    display: block;
    float: left;
	text-align: center;
    cursor: pointer;
    background-color: #b4a82f;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#d5cd66), to(#9c962d));
    border: 1px solid #807931;
    font-weight: bold;
-webkit-border-radius: 3px;
    font-family: verdana,sans-serif;
}
ul.footer-links a{
text-decoration:none !important;
}
.footer-links .evidon {
	background: url("../../../../content/dam/authorize/images/evidon.html");
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 20px;
	padding-left: 15px;
    margin-left:3px;
}
.rttxtspc{
    line-height: 20px;
    }
ul li.spacer:hover {
    border-bottom: 4px solid #d7d7d7 !important;
}
sup {
    top: -0.5em;
}
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
 .tooltip-inner p {
    margin: 0;
    padding: 15px 0;
    width:auto !important;
}
    .tooltip.top .tooltip-arrow {
    border-top-color: #e2f0fa;
    left: 50% !important;
    bottom:0;
}
  .blog-article ul li {
    list-style-type:disc !important;
        margin-left: 15px;
        margin-bottom:15px;
    }
.bullttop{
    position:relative;
        top:1px;
    }

input[type="checkbox"] {
  margin-top: -1px;
}

.form-control {
  border-radius: 0;
  font-size: 18px;
  height: 40px;
}

/* Dropdowns */
.ddcommon {position:relative;display:-moz-inline-stack; zoom:1; display:inline-block; *display:inline; cursor:default;}
.ddcommon ul{padding:0;margin:0;}
.ddcommon ul li{list-style-type:none;}
.ddcommon .disabled img, .ddcommon .disabled span, .ddcommon.disabledAll{opacity: .5;-ms-filter:"alpha(opacity=50)";filter:alpha(opacity=50);-khtml-opacity:.5;-moz-opacity:.5;color:#999999;}
.ddcommon .clear{clear:both}
.ddcommon .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.ddcommon input.text{color:#7e7e7e;padding:0 0 0 0; position:absolute; background:#fff; display:block; width:98%; height:98%; left:2px; top:0; border:none;}
.ddOutOfVision{position:relative; display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.borderRadius .shadow{-moz-box-shadow:5px 5px 5px -5px #888888;-webkit-box-shadow:5px 5px 5px -5px #888888;box-shadow: 5px 5px 5px -5px #888888;}
.borderRadiusBtm .shadow{-moz-box-shadow:-5px -5px 5px -5px #888888;-webkit-box-shadow:-5px -5px 5px -5px #888888;box-shadow: -5px -5px 5px -5px #888888}
img.fnone{float:none !important}
.ddcommon .divider{width:0; height:100%; position:absolute;}
.ddcommon .arrow{display:inline-block; position:absolute; top:50%; right:4px;}
.ddcommon .arrow:hover{background-position:0 100%;}
.ddcommon .ddTitle{padding:0; position:relative; display:inline-block; width:100%}
.ddcommon .ddTitle .ddTitleText{display:block;}
.ddcommon .ddTitle .ddTitleText .ddTitleText{padding:0;}
.ddcommon .ddTitle .description{display:block;}
.ddcommon .ddTitle .ddTitleText img{position:relative; vertical-align:middle; float:left}
.ddcommon .ddChild{position:absolute;display:none;width:100%;overflow-y:auto; overflow-x:hidden; zoom:1; z-index:9999}
.ddcommon .ddChild li{clear:both;}
.ddcommon .ddChild li .description{display:block;}
.ddcommon .ddChild li img{border:0 none; position:relative;vertical-align:middle;float:left}
.ddcommon .ddChild li.optgroup{padding:0;}
.ddcommon .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.ddcommon .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.ddcommon .noBorderTop{border-top:none 0  !important; padding:0; margin:0;}
.dd{border:1px solid #00a8e6}
.dd .divider{border-left:1px solid #fff; border-right:1px solid #fff;; right:24px;}
.dd .arrow{width:21px;height:21px; margin-top:-11px; background:url('clientlibs-css/images/dropdown_arrow_v2.html') no-repeat;}
.dd .arrow:hover{background-position:0 100%;}
.dd .ddTitle{color:#000;background-color:#ffffff;}
.dd .ddTitle .ddTitleText{padding:0 20px 2px 5px;}
.dd .ddTitle .ddTitleText .ddTitleText{padding:0;}
.dd .ddTitle .description{font-size:12px; color:#666}
.dd .ddTitle .ddTitleText img{padding-right:5px;}
.dd .ddChild{border:1px solid #c3c3c3; background-color:#fff; left:-1px;}
.dd .ddChild li{padding:5px; background-color:#fff; border-bottom:1px solid #c3c3c3;}
.dd .ddChild li .description{color:#666;}
.dd .ddChild li .ddlabel{color:#333;}
.dd .ddChild li.hover{background-color:#f2f2f2}
.dd .ddChild li img{padding:0 6px 0 0;}
.dd .ddChild li.optgroup{padding:0;}
.dd .ddChild li.optgroup .optgroupTitle{padding:0 5px; font-weight:bold; font-style:italic}
.dd .ddChild li.optgroup ul li{padding:5px 5px 5px 15px}
.dd .ddChild li.selected{background-color:#d5d5d5; color:#000;}
.dd, input[type="text"] {padding: 10px 5px 10px 5px;}
.ddlabel {display:inline-block;padding-left:5px;padding-top: 5px;}
.flags{float:left;padding:0 !important;margin:0 5px 0 0;width:24px;height:17px;background:url('clientlibs-css/images/flagsprite.html') no-repeat 0 1px;}
.flags.anz{background-position: -128px 1px;width: 24px;}
.flags.ca{background-position: -28px 1px;}
.flags.other{background-position: -104px 1px;}
.flags.us{background-position: 0 1px;width: 24px;}
.flags.uk{background-position: -52px 1px;width: 52px;}
.flags.usca{background-position: 0 1px;width: 52px;}

/* Validator */
.bv-form .help-block {
    margin-bottom: 0;
}
.bv-form .tooltip-inner {
    text-align: left;
}
.nav-tabs li.bv-tab-success > a {
    color: #3c763d;
}
.nav-tabs li.bv-tab-error > a {
    color: #a94442;
}

/* Recaptcha */
.captcha-speaker {
  margin: 0 0 13px 5px;
}
#recaptcha_help {
  margin-bottom: 15px;
}
#recaptcha_widget #recaptcha_image {
  padding-bottom: 8px;
}
#recaptcha_widget #recaptcha_help {
  padding-top: 3px;
}
#accordion div{display: none !important;}
body{background-image: linear-gradient(#2F3547,#5A6371);background-repeat: no-repeat;}
.diagram ul{padding-left:0;}
.img-content{background: #fff;margin-top: -20px;padding: 15px 20px;min-height: 90px;}
.navbar{position: absolute;top: 40%;width:100%;}
