.step{padding: 70px 0;}
/*.buy-side{padding: 20px; border:2px solid #9a202d;border-radius: 6px;}
.processor{padding: 20px; border:2px solid transparent; border-radius: 6px;}
.seller-side{padding: 20px; border:2px solid #9a202d; border-radius: 6px;}
.button-area{padding: 50px 0;}
.button-area a{display: block;margin:10px 0;}
.btn-more{width: 235px;color: #fff;background-color: #9a202d;border-color:#9a202d;font-weight: bold;font-size: 20px;}
.btn-more:hover,.btn-more:active{color: #fff;}

*/
.diagram{position: relative;}

.button-step{	
    position: absolute;
    top: 0;
    right: 70px;
}
.button-step img{width: 160px;margin: 20px 0;}

.main-container{
    /*background-image: url(/static/base/images/banners/home_banner_14_11_2017.jpg);*/
    /*padding-top: 7em !important;*/
    background-size: cover;
    padding-bottom:5em !important;
}

.footer-container{
    margin: 0px !important;
}


.angle.icon{
    font-size:4em;
    opacity:.7;
    color: #842530;
}

.sub-title {
    visibility:unset !important;
}

@media only screen and (max-width: 500px) {

    .img-content{
    font-size:1em;
    }
}

 #accordion {
        display:none;
    }

.diagram img {
    padding: 5%;
    padding-top:1%;
}

.img-content{
    font-size:1.5em;
}

.hidebtn{
    display:none;
}

#application-base .main-banner {
    height: 18rem !important;

}

.step-heading
{
    color: #842530;
    text-align:center;
    font-size: 2em;
    padding-top: 1em;
}